# Скомпилированные файлы Pascal
*.o
*.ppu
*.a
*.so
*.dll
*.exe

# Исполняемый файл программы
sqlrc

# Сгенерированные файлы
# example/__gen/

# Временные файлы
*.bak
*.tmp
*~

# Файлы IDE
*.lps
*.compiled
lib/
backup/
.vscode/GTEMP.pas
